services:
  imswitch-docker-noqt:
    image: ghcr.io/openuc2/imswitch-noqt:latest
    privileged: true
    ports:
      - "8001:8001"
      - "8888:8888"
    volumes:
      - /Users/bene:/config
      - /Users/bene:/dataset
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
      - /etc/machine-id:/etc/machine-id:ro
    environment:
      - HEADLESS=1
      - HTTP_PORT=8001
      - HTTP_PORT=8005
      #- CONFIG_FILE=example_virtual_microscope.json
      - UPDATE_GIT=0
      - UPDATE_CONFIG=0
      - DATA_PATH=/dataset
      - CONFIG_PATH=/config
      - SCAN_EXT_DATA_FOLDER=1
      - EXT_DRIVE_MOUNT=/media
      - SSL=1
      - WIFI_MODE=host

    restart: always
